body {
    margin: 0;
}

.code {
    display: flex;
    position: absolute;
    right: 0px;
    z-index: 9998;
    top: 20rem;
}

@media (max-width: 1300px) {
    .code:has(> .code-section-visible) {
        width: 90%;
        /* Absolute position is messing up the layout on small screens */
        right: 70px;
    }
}

.code-section-hidden {
    width: 0px;
    display: none;
}

.code-section-visible {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(45 46 53 / 90%);
    padding: 1rem;
    border-radius: 10px 0px 0px 10px;
    color: #c6c6c8;
}

.code-section-visible p{
    margin: 0;
    font-style: italic;
    font-size: small;
}

.language-html, .language-python {
    float: left;
}

#view-code-button {
    writing-mode: tb-rl;
    text-orientation: sideways-right;
    background-color: #1D1D22;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    height: 81px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    padding-right: 10px;
    font-size: 28px;
    height: 30px;
    max-width: inherit;
}

.title {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2em;
    white-space: nowrap;
}

.app-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

#summary {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-collapse: collapse;
width: 100%;
text-align:center;
vertical-align:middle;
}

#summary td, #summary th {
border-collapse:collapse;
border: 1px solid #9ABAD9;
border-spacing: 2px;
padding: 2px;
text-align:center;
vertical-align:middle;
}

#summary tr:nth-child(even){background-color: #f2f2f2;}

#summary th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #409cff;
color: white;
border-color: #9abad9;
text-align:center;
vertical-align:middle;
}

.folium {
    padding-top: 65px;
}
